img{
    width: 200px;
    height: 200px;
}
a{
    text-decoration: none;
}
h2{
    text-align: center;
    padding: 50px;
    margin: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 5px;
    border: 5px double black;
    color: white;
    background-color: rgb(65, 111, 247);
}
h2:active{
    color: black;
    background-color: white;
}
body{
    direction: rtl;
}